.idea
.pytest_cache
out
__pycache__
cmake-build-debug
.cmake
CMakeFiles
CMakeCache.txt
.ninja_deps
.ninja_log
Testing
_deps
build.ninja
cmake_install.cmake
perf.data
perf.data.old
lib
bazel-bin
bazel-out
bazel-testlogs
bazel-*
python_build_chromobius
chromobius.egg-info
.clwb
wheelhouse
build
package_data
.eggs
dist
